* {
  margin: 0;
  padding: 0;
  background-color: #cec9c9;
}

.kanban-details {
  margin-top: 3%;
  margin-left: 3%;
  width: 60vw;
}

h1 {
  margin-bottom: 60px;
}

.kanban-task-column {
  width: 20vw;
  border: 1px solid black;
  border-radius: 15px;
  overflow: auto;
  overflow-y: auto;
  max-height: 78vh;
}

.inner-card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  flex-grow: 1;
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
}

.sidebar {
  width: 15%;
  border: 1px solid;
  height: 100vh;
  left: 0;
}

.main {
  flex-grow: 1;
  position: fixed;
  left: 15%;
  width: 100vw;
}

.btn-size {
  size: 75%;
}

.background-reset {
  background-color: white;
}

select, option {
  background-color: white;
}
