.flex-container {
  display: flex;
}

.sidebar {
  width: 15%;
  border: 1px solid;
  height: 100vh;
  left: 0;
}

.main {
  flex-grow: 1;
  position: fixed;
  left: 15%;
  width: 100vw;
}

.btn-size {
  size: 75%;
}

* {
  background-color: #cec9c9;
}
