<div class="container">
  <h2 class="font-weight-bold ms-3 mt-5">
    <strong>
    <span style="color: green">Task</span>
    <span>It</span>
    </strong>
  </h2>
  <div class="d-flex flex-row">
    <button class="btn btn-success btn-size flex-column" routerLink="/tasklist" routerLinkActive="active">Task List</button>
    <button class="btn btn-success btn-size flex-column" style="margin-left: 15px;" routerLink="/kanban"
    routerLinkActive="active">Kanban Board</button>
  </div>
  <div class="genInfo">
    <div class="d-flex border flex-row">
      <span class="material-symbols-outlined justify-content-start">
        account_circle
        </span>
        <p>{{ email }}</p>
      <button class="btn d-flex justify-content-end ml-auto" (click)="onLogout()">
        <span class="material-symbols-outlined">
          logout
          </span>
      </button>
    </div>
  </div>
</div>
