* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  background-color: #cec9c9;
}

.sidebar {
  width: 15%;
  border: 1px solid;
  height: 100vh;
  left: 0;
}

button  {
  background-color: none;

}

.main {
  margin-left: 5%;
}
