<h1><b>Task List</b></h1>
<!-- <span class="material-symbols-outlined">
  delete
  </span> -->
<div class="row">
  <label for="filters" class="filter-label"><b>Filters: </b></label>
  <select name="status" class="form-control form-control-sm filter-options custom-select">
    <option>Status</option>
  </select>
  <select name="date" class="form-control form-control-sm filter-options custom-select">
    <option>Date</option>
  </select>
  <select name="priority" class="form-control form-control-sm filter-options custom-select">
    <option>Priority</option>
  </select>
  <button class="btn btn-success btn-add">Add New Task</button>
</div>
<div class="task-table">
  <table class="table roundedCorners">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
