* {
  margin: 0;
}

h1 {
  margin-top: 3%;
  margin-left: 3%;
}

.filter-label {
  margin-left: 10%;
  font-size: 1.4em;
  padding-right: 10px;
}

.filter-options {
  width: 150px;
  margin-right: 10px;
  background-color: white;
}

.btn-add {
  margin-left: 20%;
}

table {
  border: 2px solid;
  border-radius: 5px;
  width: 75vw;
  margin: 10px;
  align-content: left;
}

.material-symbols-outlined {
  margin-right: 5px;
}

.orange {
  color: goldenrod;
}

.notification {
  margin-left: 25%;
}

.flex-container {
  display: flex;
  background-color: #cec9c9;
}

.sidebar {
  width: 15%;
  border: 1px solid;
  height: 100vh;
  left: 0;
}

.main {
  flex-grow: 1;
  position: fixed;
  left: 15%;
  width: 100vw;
}

.btn-size {
  size: 75%;
}

.green {
  color: green
}

.red {
  color: red;
}

.mat-mdc-form-field-flex {
  background-color: white;
  color: black;
}
