<h1><b>Task List</b></h1>
<div class="row">
  <label for="filters" class="filter-label"><b>Filters: </b></label>
  <select name="status" class="form-control form-control-sm filter-options custom-select">
    <option>Status</option>
    <option>ToDo</option>
    <option>In Progress</option>
    <option>Completed</option>
  </select>
  <select name="date" class="form-control form-control-sm filter-options custom-select">
    <option>Date</option>
  </select>
  <select name="priority" class="form-control form-control-sm filter-options custom-select">
    <option>Priority</option>
    <option>Low</option>
    <option>Medium</option>
    <option>High</option>
  </select>
  <button class="btn btn-success btn-add" (click)="openModal()">Add New Task</button>
</div>
<div class="task-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td scope="row">{{ task.title }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.priority | titlecase }}</td>
        <td>{{ task.status | titlecase }}</td>
        <td>
          <button class="btn" (click)="editTask(i)">
            <span class="material-symbols-outlined">
              visibility
            </span>
          </button>
          <button class="btn">
            <span class="material-symbols-outlined">
              check_box
            </span>
          </button>
          <button class="btn" (click)="onRemoveTask(i)">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
