h1 {
  margin-top: 3%;
  margin-left: 3%;
}

.filter-label {
  margin-left: 10%;
  font-size: 1.4em;
  padding-right: 10px;
}

.filter-options {
  width: 150px;
  margin-right: 10px;
}

.btn-add {
  margin-left: 20%;
}

table {
  border: 2px solid;
  border-radius: 5px;
  width: 75vw;
  margin: 10px;
  align-content: left;
}

.material-symbols-outlined {
  margin-right: 5px;
}
