* {
  background-color: transparent;
}

div {
  margin: 15px;
}

input, textarea, select {
  background-color: white;
  color: black;
}

.buttons {
  background-color: transparent;
}

h1 {
  color: white;
  margin: 10px;
}





