<h1>Add a New Task</h1>
<form class="form-group" [formGroup]="taskForm">
  <div class="d-flex flex-row" style="background-color: transparent;">
    <div class="d-flex flex-column">
      <input
        type="text"
        name="title"
        id="title"
        class="form-control form-text flex-row mb-3"
        formControlName="title">
      <textarea
        name="desc"
        id="desc"
        cols="30"
        rows="10"
        placeholder="Description"
        class="form-text flex-row"
        formControlName="desc">
      </textarea>
    </div>
    <div class="d-flex flex-column">
      <mat-form-field style="background-color: transparent;">
        <mat-label>Due Date:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate"
        style="color: black; background-color: white;"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary"></mat-datepicker>
      </mat-form-field>
      <select
        name="priority"
        class="form-control form-control-sm filter-options custom-select mb-3"
        aria-placeholder="Priority"
        formControlName="priority">
        <option selected value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <select
        name="status"
        class="form-control form-control-sm filter-options custom-select mb-3"
        aria-placeholder="Status"
        formControlName="status">
        <option selected value="todo">ToDo</option>
        <option value="inprogress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
      <div class="buttons">
        <button class="btn btn-secondary mr-3 mat-dialog-close" (click)="onCancel()" style="background-color: green;">Cancel</button>
        <button class="btn btn-success" type="submit" (click)="onCreateTask()" style="background-color:green;">{{submitButtonText}}</button>
      </div>
    </div>
  </div>
</form>
